:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Athene;
}

@font-face {
  font-family: Athene;
  src: url("../assets/fonts/Athene.otf");
}

@font-face {
  font-family: Urbanist;
  src: url("../assets/fonts/Urbanist.otf");
}
