:root {
  --color-primary: #00052e;
  --color-primary-rgb: 0, 5, 46;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255, 255, 255;
  --color-primary-shade: #000428;
  --color-primary-tint: #1a1e43;

  --color-secondary: #5260ff;
  --color-secondary-rgb: 82, 96, 255;
  --color-secondary-contrast: #ffffff;
  --color-secondary-contrast-rgb: 255, 255, 255;
  --color-secondary-shade: #4854e0;
  --color-secondary-tint: #6370ff;

  --color-tertiary: #5260ff;
  --color-tertiary-rgb: 82, 96, 255;
  --color-tertiary-contrast: #ffffff;
  --color-tertiary-contrast-rgb: 255, 255, 255;
  --color-tertiary-shade: #4854e0;
  --color-tertiary-tint: #6370ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist;
}

@font-face {
  font-family: Athene;
  src: url("../assets/fonts/Athene.otf");
}

@font-face {
  font-family: Urbanist;
  src: url("../assets/fonts/Urbanist.otf");
}

#cursor {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0.5px solid var(--color-primary-contrast);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-out;
  z-index: 999999;
  pointer-events: none;
  animation: pulse 0.5s infinite alternate;
  transform-origin: center;
}
#cursor::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border: 5px solid rgba(128, 128, 128, 0.541);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cursor.highlight {
  transform: scale(3);
  transition: ease;
  border-style: dashed;
  animation: rotating 10s infinite;
}

#cursor.snap {
  animation: snap 1s;
}
@keyframes rotating {
  0% {
    transform: translate(-50%, -50%) scale(3) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(3) rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.7);
  }
}
@keyframes snap {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.3);
  }
}
