.container {
  min-height: 100vh;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name {
  font-size: 85px;
  color: white;
}
.name:hover ~ #cursor {
  transform: scale(5);
}
